Repository contentful/contentful-batch-libs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "*.{js,ts}": ["prettier --write", "eslint --fix"]
}

Notes added by 'git notes add'
  49cdace6ff7414f507b9df5f914d7a245a4d0775
Due: none

docs: seed Golden Context [DX-1029]
  .bito.yaml
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  docs/ADRs/2026-04-15-add-breaking-release-rule.md
  docs/ADRs/2026-04-15-drop-node-lt-22-and-adopt-cma-v12.md
  docs/ADRs/2026-05-07-utility-library-scope-reduction.md
  docs/ADRs/README.md
  docs/specs/.gitkeep
  docs/specs/README.md
Due: prettier --write

fix: address Bito review feedback
  CONTRIBUTING.md
  docs/ADRs/README.md
Due: prettier --write

docs: seed Golden Context [DX-1029] (#1138)
  .bito.yaml
  .bito/guidelines/domain-invariants.txt
  .bito/guidelines/repo-truth-and-boundaries.txt
  .bito/guidelines/review-posture.txt
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  docs/ADRs/2026-04-15-add-breaking-release-rule.md
  docs/ADRs/2026-04-15-drop-node-lt-22-and-adopt-cma-v12.md
  docs/ADRs/2026-05-07-utility-library-scope-reduction.md
  docs/ADRs/README.md
  docs/specs/.gitkeep
  docs/specs/README.md
Due: prettier --write

Notes added by 'git notes add'
  4368e606777f8abe3e71854ad88f4fa507d91659
Due: none

fix: avoid disclosing error stack traces in log file write failure
  lib/logging.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  5f993c35e049f2f13173e62e19089bb258250642
Due: none

chore: set up Renovate for dependency updates [MEC-3447]
  .contentful/vault-secrets.yaml
  .github/dependabot.yml
  .github/workflows/dependabot-approve-and-request-merge.yaml
  AGENTS.md
  CONTRIBUTING.md
  renovate.json
Due: prettier --write

chore: remove stale semantic-release version constraint
  renovate.json
Due: prettier --write

Notes added by 'git notes add'
  8be8af9a4c6343869afe91bd935583387c2ca8f9
Due: none

feat: add dual CJS/ESM build via tsup
  lib/logging.ts
  package-lock.json
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix

feat: bump date-fns to v4.4.0
  package-lock.json
  package.json
Due: prettier --write

fix: bump low-risk devDependencies to latest majors
  package-lock.json
  package.json
Due: prettier --write

feat: warn CJS consumers that the next major drops require() support
  tsup.config.ts
Due: prettier --write, eslint --fix

fix!: block dist/* subpath imports, fix CJS strict-mode banner
  MIGRATION.md
  package-lock.json
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix

fix!: add dual CJS/ESM build via tsup (#1185)
  MIGRATION.md
  lib/logging.ts
  package-lock.json
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  faad970672959644536daa4831bc097db801fff1
Due: none

feat: migrate to ESM-only, drop CJS
  package.json
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix

feat: bump date-fns to v4.4.0
  package-lock.json
Due: prettier --write

feat!: bump engines.node to >=24
  package.json
  tsup.config.ts
Due: prettier --write, eslint --fix

feat: bump ESM-unlocked dependencies to latest majors
  package-lock.json
  package.json
Due: prettier --write

feat: migrate test suite from Jest to Vitest
  .eslintrc
  jest.config.ts
  package.json
  test/listr.test.js
  test/logging.test.js
  test/mocks/index.js
  test/proxy.test.js
  vitest.config.ts
Due: prettier --write, eslint --fix

fix: tear down logging listeners [AIS-171]
  lib/index.ts
  lib/logging.ts
  test/logging.test.js
Due: prettier --write, eslint --fix

fix: align logging message types [AIS-171]
  lib/logging.ts
Due: prettier --write, eslint --fix

chore: update CODEOWNERS [AIS-591]
  .github/CODEOWNERS
  catalog-info.yaml
Due: prettier --write

chore(security): remove redundant CodeQL workflow
  .github/workflows/codeql.yaml
Due: prettier --write

chore(security): remove redundant CodeQL workflow (#1191)
  .github/workflows/codeql.yaml
Due: prettier --write
