Repository contentful/contentful-batch-libs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: change ownership to developer-experience [PHX-2975]
  .github/CODEOWNERS
  catalog-info.yaml
Due: prettier --write

chore: change ownership to developer-experience [PHX-2975] (#267)
  .github/CODEOWNERS
  catalog-info.yaml
Due: prettier --write

fix:name change
  .github/CODEOWNERS
  catalog-info.yaml
Due: prettier --write

chore: audit deps and unown package files to allow dependabot to work properly [EXT-5894]
  .github/CODEOWNERS
  package-lock.json
Due: prettier --write

chore: audit deps and unown package files to allow dependabot to work properly [EXT-5894] (#658)
  .github/CODEOWNERS
  package-lock.json
Due: prettier --write

chore: update codeowners and catalog-info.yaml to DX
  .github/CODEOWNERS
  catalog-info.yaml
Due: prettier --write

chore: update codeowners and catalog-info.yaml to DX [DX-5] (#800)
  .github/CODEOWNERS
  catalog-info.yaml
Due: prettier --write

build: upgrade the upcoming v12 beta of contentful-management
  package-lock.json
  package.json
Due: prettier --write

test: bump contentful-management to new beta
  package-lock.json
  package.json
Due: prettier --write

chore: remove tundra from codeowners [DX-5]
  .github/CODEOWNERS
Due: none

chore: remove tundra from codeowners [DX-5] (#856)
  .github/CODEOWNERS
Due: none

refactor: turn into real esm project instead of the in between state
  lib/get-entity-name.ts
  lib/index.ts
  lib/listr.ts
  lib/logging.ts
  lib/type-guards.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add .nvmrc file
  .nvmrc
Due: none

build: latest beta of cma lib
  package-lock.json
  package.json
Due: prettier --write

build: clean up lock file
  package-lock.json
Due: prettier --write

Add CodeQL workflow for GitHub Actions
  .github/workflows/codeql.yml
Due: prettier --write

chore(ci): [SECURITY-1117] Enable CodeQL scans for GitHub workflow (#898)
  .github/workflows/codeql.yml
Due: prettier --write

test: rewrite tests from jest to vitest for proper ESM support and better DX
  jest.config.ts
  lib/logging.ts
  package-lock.json
  package.json
  test/add-sequence-header.test.ts
  test/get-entity-name.test.ts
  test/listr.test.ts
  test/logging.test.ts
  test/mocks/index.js
  test/proxy.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

build: clean up dependencies
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

build: switch to modern nodenext resolution
  tsconfig.json
Due: prettier --write

chore: add beta release branch
  .circleci/config.yml
  package.json
Due: prettier --write

chore: add beta release branch [DX-266] (#901)
  .circleci/config.yml
  package.json
Due: prettier --write

feat: ESM support & migrate to contentful management v12 (#887)
  .eslintrc
  .nvmrc
  jest.config.ts
  lib/get-entity-name.ts
  lib/index.ts
  lib/listr.ts
  lib/logging.ts
  lib/type-guards.ts
  package-lock.json
  package.json
  test/add-sequence-header.test.ts
  test/get-entity-name.test.ts
  test/listr.test.ts
  test/logging.test.ts
  test/mocks/index.js
  test/proxy.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: downgrade semantic-release and add to dependabot ignore
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

chore: adding commit message back in to dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore: fix yml
  .github/dependabot.yml
Due: prettier --write

chore: downgrade semantic-release and add to dependabot ignore [DX-269] (#907)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

build: bump to node version 20
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

build: turn into hybrid bundle
  lib/logging.ts
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

11.0.0-beta.0
  package-lock.json
  package.json
Due: prettier --write

build: allow importing of test mocks
  package.json
Due: prettier --write

11.0.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

refactor: use correct names for bundles
  package.json
Due: prettier --write

chore: update circle node to v22
  .circleci/config.yml
Due: prettier --write

logging: make the error log a valid JSON
  lib/logging.ts
  test/logging.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md,yaml,yml}) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
