Repository contentful/contentful-batch-libs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add custom export fields introduced by react-native plus the legacy root field to support older versions of react-native
  package.json
Due: prettier --write

fix: bundles now have the correct naems for this package
  rollup.config.js
Due: prettier --write, eslint --fix

chore: add editor and prettier config that match our coding style to avoid annoying issues when using advanced code editors
  .editorconfig
  .prettierrc.js
Due: prettier --write, eslint --fix

build: rollup is now responsable to turn ts into js
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

build: clean up package-lock.json
  package-lock.json
Due: prettier --write

build: source maps, reset of version number and cleaned up packge-lock.json
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

build: remove browser and react-native support as this is a lib for node CLI tools
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

build: suppress warnings by clearly marking dependencies as external
  rollup.config.js
Due: prettier --write, eslint --fix

build: replace rollup-plugin-dts with rollup-plugin-ts as dts is flagged as maintainence only and as it raised issues in CMA
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

ci: use node v20 in circle ci as it is our currently supported LTS
  .circleci/config.yml
Due: prettier --write

chore: bump to new contentful-management beta
  package.json
Due: prettier --write

feat: update build for contentful management v12 (#913)
  .circleci/config.yml
  .editorconfig
  .github/dependabot.yml
  .nvmrc
  .prettierrc.js
  lib/logging.ts
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

build: avoid multiple versions of @rollup/pluginutils and move every dependency to dev we do not need in production env
  package-lock.json
  package.json
Due: prettier --write

fix: ensure we use the rollup 4 compatible sourcemaps plugin
  rollup.config.js
Due: prettier --write, eslint --fix

ci: cache on lock file and use npm ci for faster install
  .circleci/config.yml
Due: prettier --write

fix: remove react-native reference as its not supported
  package.json
Due: prettier --write

fix: only include test mock files in published packages, not all of it
  package.json
Due: prettier --write

fix: bump cma beta version to 12.0.0-beta.10 []
  package-lock.json
  package.json
Due: prettier --write

fix: bump cma beta version to 12.0.0-beta.10 [] (#964)
  package-lock.json
  package.json
Due: prettier --write

build: latest CMA beta
  package-lock.json
  package.json
Due: prettier --write

refactor: remove cjs variant and clean up dependencies
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

build: remove lodash and other unused dependencies
  package-lock.json
  package.json
Due: prettier --write

build: update dependencies
  package-lock.json
Due: prettier --write

fix: package.json now reflects ESM only transformation
  package.json
Due: prettier --write

fix: update package-lock.json
  package-lock.json
Due: prettier --write

fix: ensure datefns is used in a ESM compatible way
  lib/logging.ts
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

fix: bump cma.js to new beta
  package-lock.json
  package.json
Due: prettier --write

chore: update vault-secrets.yaml to include new policies for GitHub Action
  .contentful/vault-secrets.yaml
Due: prettier --write

chore: migrate CI configuration from CircleCI to GitHub Actions
  .circleci/config.yml
  .github/workflows/build.yaml
  .github/workflows/check.yaml
  .github/workflows/codeql.yaml
  .github/workflows/dependabot-approve-and-request-merge.yml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: prettier --write

chore: add release trigger on test-oidc-trusted-publishing branch
  .github/workflows/main.yaml
  package.json
Due: prettier --write

chore: update semantic-release to 25, add semantic-release plugins
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  089ec13f0a2302c0264c01ba18af924752c72075
Due: none

Notes added by 'git notes add'
  0e87846e1507afd276d7e19db9c1014355c4568c
Due: none

chore: consolidate lint and unit test into same job
  .github/workflows/check.yaml
  package.json
Due: prettier --write

chore: remove CircleCI policies from vault-secrets.yaml
  .contentful/vault-secrets.yaml
Due: prettier --write

chore: update GitHub Actions workflows
  .github/workflows/check.yaml
  .github/workflows/dependabot-approve-and-request-merge.yaml
  .github/workflows/main.yaml
Due: prettier --write

chore: update Node.js version in GitHub Actions workflow to 22
  .github/workflows/build.yaml
Due: prettier --write

chore: update release workflow to fetch latest tag using git describe
  .github/workflows/release.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,md,yaml,yml}) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
